n8n/workflows/content-pipeline.json
{
  "name": "Coupang Content Pipeline",
  "nodes": [
    {
      "parameters": {},
      "id": "1a2b3c4d-5e6f-7g8h-9i0j-manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "2b3c4d5e-6f7g-8h9i-0j1k-schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        500
      ],
      "disabled": true,
      "notes": "Scheduled for daily at 9:00 AM (0 9 * * *).\nKeep disabled until Phase 8 E2E testing is complete.\nTo activate: Enable this trigger and set workflow to active."
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "productId",
              "value": "sample-001"
            },
            {
              "name": "productName",
              "value": "테스트 제품"
            },
            {
              "name": "category",
              "value": "general"
            }
          ],
          "number": [
            {
              "name": "productPrice",
              "value": 29900
            }
          ]
        }
      },
      "id": "4d5e6f7g-8h9i-0j1k-2l3m-set-product",
      "name": "Set Product Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "command": "=cd /app && node scripts/orchestrate-content.js --product-json '{{ JSON.stringify($json) }}' --dry-run"
      },
      "id": "5e6f7g8h-9i0j-1k2l-3m4n-execute-command",
      "name": "Generate Content",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        720,
        400
      ],
      "notes": "Production mode with --dry-run for safety until Phase 8 E2E testing.\n\nTo enable full production:\n1. Remove --dry-run flag (enables git push)\n2. Set GEMINI_API_KEY environment variable for LLM\n3. Enable Schedule Trigger\n4. Set workflow to active\n\nError codes returned by script:\n- POST_GENERATION_FAILED\n- GIT_ADD_FAILED\n- GIT_COMMIT_FAILED\n- GIT_PUSH_FAILED"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-success-check",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "\"success\":true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "6f7g8h9i-0j1k-2l3m-4n5o-if-success",
      "name": "Check Result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        940,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Success handler - Process successful content generation\n// Parses the JSON output from orchestrate-content.js\n\nconst result = JSON.parse($input.first().json.stdout);\n\nreturn [{\n  json: {\n    status: 'success',\n    message: `Successfully generated post: ${result.file}`,\n    file: result.file,\n    commit: result.commit,\n    timestamp: result.timestamp || new Date().toISOString()\n  }\n}];"
      },
      "id": "7g8h9i0j-1k2l-3m4n-5o6p-success-handler",
      "name": "Success Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Error handler - Process and categorize errors from orchestrate-content.js\n// Extracts structured error codes for routing and logging\n\nconst input = $input.first().json;\nlet errorCode = 'UNKNOWN_ERROR';\nlet errorMessage = 'Unknown error';\nlet timestamp = new Date().toISOString();\n\ntry {\n  if (input.stdout) {\n    const result = JSON.parse(input.stdout);\n    errorCode = result.error || 'UNKNOWN_ERROR';\n    errorMessage = result.message || result.error || 'Unknown error';\n    timestamp = result.timestamp || timestamp;\n  } else if (input.stderr) {\n    errorMessage = input.stderr;\n  }\n} catch (e) {\n  errorMessage = input.stderr || input.stdout || 'Failed to parse error';\n}\n\n// Categorize error for potential retry logic\nconst isRetryable = ['GIT_PUSH_FAILED', 'POST_GENERATION_FAILED'].includes(errorCode);\n\nreturn [{\n  json: {\n    status: 'error',\n    errorCode: errorCode,\n    message: errorMessage,\n    exitCode: input.exitCode,\n    timestamp: timestamp,\n    isRetryable: isRetryable\n  }\n}];"
      },
      "id": "8h9i0j1k-2l3m-4n5o-6p7q-error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        500
      ]
    },
    {
      "parameters": {},
      "id": "9i0j1k2l-3m4n-5o6p-7q8r-success-noop",
      "name": "Success Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1380,
        300
      ],
      "notes": "Success - Post generated and committed.\n\nThe post file has been created and (if not --dry-run) committed and pushed to the repository.\nGitHub Actions will handle deployment to GitHub Pages."
    },
    {
      "parameters": {},
      "id": "0j1k2l3m-4n5o-6p7q-8r9s-error-noop",
      "name": "Error Logged",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1380,
        500
      ],
      "notes": "Error - Check n8n executions for details.\n\nError codes:\n- POST_GENERATION_FAILED: LLM or template issue\n- GIT_ADD_FAILED: File staging issue\n- GIT_COMMIT_FAILED: Commit creation issue\n- GIT_PUSH_FAILED: Push to remote issue\n\nCheck the error-handler workflow for centralized error logging."
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Product Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Product Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Product Data": {
      "main": [
        [
          {
            "node": "Generate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content": {
      "main": [
        [
          {
            "node": "Check Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Result": {
      "main": [
        [
          {
            "node": "Success Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success Handler": {
      "main": [
        [
          {
            "node": "Success Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Error Logged",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "coupang-affiliate-blog"
  },
  "tags": [
    {
      "name": "coupang",
      "createdAt": "2026-01-15T00:00:00.000Z",
      "updatedAt": "2026-01-15T00:00:00.000Z"
    },
    {
      "name": "content-pipeline",
      "createdAt": "2026-01-15T00:00:00.000Z",
      "updatedAt": "2026-01-15T00:00:00.000Z"
    }
  ]
}
